@import '../../styles/settings.scss';

.component {
  width: 100%;
  background: $color-light;
  margin: 0 auto;
  padding: ($base-size * 1.5);
  border-radius: $radius;
  box-shadow: 0 ($base-size / 4) 0 rgba(0,0,0,0.3);
  color: $color-dark;
}

.title {
  text-align: center;
  font-size: ($base-size * 1.5);
  margin: 0 0 ($base-size * 1.5) 0;
}

.icon > * {
  padding-right: $base-size;
  color: $color-warning;
  font-size: ($base-size * 2);
  vertical-align: middle;
}

.creator {
  width: 100%;
  margin: $base-size auto 0;

  input {
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
  }
}

.cards {
  padding: ($base-size / 2) 0;
}

@media (max-width: 767px) {

  .component {
    width: 100%;
    margin: 0 0 $base-size 0;
  }

}